{% extends 'base.html.twig' %}

{% block title %}Hello EvaluationController!{% endblock %}

{% block body %}
    <div class="container">
        <h2 style="margin-top: 3%;"> Liste des Apprenants</h2>
        <table class="table table-hover table-active " style="width: 250px; margin-top: 1%;">
            <tr style="background-color: #d39e00;">
                <th>ID</th>
                <th>NOM</th>
                <th>PRENOM</th>
                <th>TELEPHONE</th>
                <th>DATE-NAISSANCE</th>
                <th>FORMATION</th>
            </tr>
            {% for aff in app %}
                <tr>
                    <td>{{ aff.id}}</td>
                    <td>{{ aff.nom}}</td>
                    <td>{{ aff.prenom}}</td>
                    <td>{{ aff.telephone}}</td>
                    <td>{{ aff.dateNaissance | date('d/m/Y')}}</td>
                    <td>{{ aff.formation}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="container" style="margin-left: 40%; margin-top: -17% ;">
        <h2 style="margin-top: 3%"> Evaluation</h2>
        <div class="form-group">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-4">{{ form_row(form.catEva,{'label': 'Categorie'}) }}</div>
                <div class="col-md-4">{{ form_row(form.formations,{'attr':{'placeholder': 'Saisissez le prenom'}}) }}</div>
            </div>
            <button type="submit" class="btn btn-success" style="margin-top: 2%; margin-bottom: 3% ">Enregistrer</button>
            {{ form_end(form)}}
        </div>
    </div>
{% endblock %}
